@import '../../../.././utils/scss/public.scss';//引入公共scss
.loginOver-btn{
	background-color: $color-orange;
	color: $color-white;
}
.loginOver-alert-content{
	margin-left: (25rem/$num);
    margin-top: (25rem/$num);
    font-size: (24rem/$num);
    text-align: left;
}