@import '../../../.././utils/scss/public.scss';//引入公共scss
.container{
	width: 100%;
	background-color: #e3463b;
	.wrap-register{
		padding:0 (40rem/$num);
		.wrap-input{
			margin-top: (20rem/$num);
			position:relative;
			.common-input{
				height: (70rem/$num);
				line-height: (70rem/$num);
				border-radius: 4px;
				padding: 0 (20rem/$num);
				font-size: (24rem/$num);
				box-sizing:border-box;
				background-color: #fff;
			}
			.icon {
				position:absolute;
				right: (20rem/$num);
				top:50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
			}
			.icon-type-eye {
				right: (60rem/$num);
			}
			.input{
				width: 100%;
				@extend .common-input;
			}
			.short {
				width: (320rem/$num);
				display: inline-block;
				position:relative;
			}
			.code-input{
				width: (320rem/$num);
				@extend .common-input;
			}
			.img-code{
				width: (218rem/$num);
				height: (70rem/$num);
				 margin-left: (20rem/$num);
			}
			.phone-code{
				width: (218rem/$num);
				height: (70rem/$num);
				line-height: (70rem/$num);
				margin-left: (20rem/$num);
				color: #fff;
				background-color: #fcbd01;
				font-size: (30rem/$num);
				text-align: center;
				vertical-align: top;
				&.disabled{
					color: #b6b6b6;
					background-color: #fff;
				}
			}
		}
		.row {
			text-align: center;
		}
		.label{
			display: inline-block;
			font-size: (24rem/$num);
			color:#fff;
			margin-left: (20rem/$num);
		}
		.serve {
			color:#fff600;
		}
		.solid {
			background-color:#ffd731;
			color:#4a1100;
		}
		.button-register {
			margin:0;
		}
	}
	.alert-content {
		font-size: (24rem/$num);
		margin-top: (20rem/$num);
	}
	.button1 {
		background-color: #fcbd01;
		color: #fff;
	}

}