@import '../../../.././utils/scss/public.scss';//引入公共scss
.Container {
	.t1,.t2 {
		box-flex: 1;
		-webkit-box-flex: 1;
	}
	.t1 {
		text-align: left;
	}
	.t2 {
		text-align: right;
	}
	.high {
		color: $color-orange;
	}
	.bank,.balance,.service,.tips{
		padding:(20rem/$num);
	}
	.bank {
		font-size: (30rem/$num);
	    display: -webkit-box;
	    display: box;
	    background-color: #FFF;
	    color: $color-gray1;	
		.bankIcon {
			width: (68rem/$num);
			vertical-align: middle;
		}
		.em {
			line-height: (68rem/$num);
		}
		.bankName {
			vertical-align: middle;
			padding-left: (20rem/$num);
		}
		.limit {
			font-size: (26rem/$num);
			color: $color-gray2;
		}
	}
	.balance {
		font-size: (24rem/$num);
		color: $color-gray1;
		.all {
			padding:0 (20rem/$num);
			color: $color-orange;
		}
	}
	.recharge {
		background-color: #FFF;
		font-size: (28rem/$num);
		padding:0 (20rem/$num);
		border-bottom: 1px solid $color-gray4;
		 border-top: 1px solid $color-gray4;
		.moneyNum {
			padding-right:(20rem/$num);
			position:relative;
			top: -.7rem;
		}
		.moneyInput {
			padding-left:(10rem/$num);
			height: 2.5rem;
		}
	}
	.service {
		font-size: (24rem/$num);
		.em {
			display: inline-block;
		}
	}
	.tips {
		font-size: (24rem/$num);
		color: $color-gray2;
		.content {
			padding:0 (35rem/$num);
			position:relative;
			&:before { 
				content:'';
				width:(26rem/$num);
				height: (26rem/$num);
				background: url(../../../image/icon/icon_recharge2.png);
				background-size: cover;
				position:absolute;
				top: 0;
				left:0;
			}
		}
	}
	.parent {
		margin-top: (40rem/$num);
	}

}