@import '../../../.././utils/scss/public.scss';//引入公共scss
.Container{
  $font:(30rem/$num);
  .invest_top{
    width: 100%;
    height: (100rem/$num);
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid $color-gray4;
    background-color:$color-white;
    .caption{
      width: (185rem/$num);
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      box-flex: 1;
      line-height: (100rem/$num);
      font-size: $font;
    }
    .current{
       border-bottom: 2px solid $color-orange;
       color: $color-orange;
    }
  }
  .invest_list{
    margin-top: (130rem/$num);
  }
  .hold{
      width: (540rem/$num);
      margin: (25rem/$num) auto 0;
      padding: (20rem/$num) (30rem/$num);
      border: (1rem/$num) solid $color-gray4;
      background-color: $color-white;
      .title{
        height: (80rem/$num);
        line-height: (80rem/$num);
        border-bottom: (1rem/$num) solid $color-gray4;
        font-size: (30rem/$num);
        color: $color-gray1;
        position: relative;
        .list-icon{
          position: absolute;
          right: (11rem/$num);
          margin-top: (30rem/$num);
          width: (20rem/$num);
          height: (20rem/$num);
          border-top: 1px solid $color-gray3;
          border-right: 1px solid $color-gray3;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
      .detail{
        height: (130rem/$num);
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
        text-align: center;
        border-bottom: (1rem/$num) solid $color-gray4;
        .profit,.period,.threshold{
          -moz-box-flex: 1;
          -webkit-box-flex: 1;
          box-flex: 1;
          .field{
            font-size: (50rem/$num);
            color: $color-gray1;
          }
          .caption{
            font-size: (22rem/$num);
            color: $color-gray3;
          }
          .teshu{
            color: $color-orange;
          }
        }
      }
      .time{
        height: (70rem/$num);
        line-height: (70rem/$num);
        font-size: (24rem/$num);
        color: $color-gray2;
      }
    }
    .hold:last-child{
      margin-bottom: (50rem/$num);
    }
}
